* {
    margin: 0;
    padding: 0;
}
header {
    height: 10vh;
    background-color: dodgerblue;
}
.container {
    display: flex;
    justify-content: stretch;
    padding: 20px;
}
.header-links {
    display: flex;
    justify-content: stretch;
    margin: 10px;
}
#home {
    margin-right: 30px;
    margin-left: 30px;
    color: whitesmoke;
    text-decoration: none;
}
#home:hover{
    color:greenyellow;
}
#saved{
    margin-right: 30px;
    color: whitesmoke;
    text-decoration: none;
}
#saved:hover{
    color:greenyellow;
}
.scrapeBtn{
    margin-right: 30px;
    padding: 5px;
    background-color: red;
    color: white;
}
#scrapeBtn:hover{
    background-color: greenyellow;
    color: black;
}
#clearBtn{
    padding: 5px;
    background-color: red;
    color: white;
}
#clearBtn:hover{
    background-color: greenyellow;
    color: black;
}

main{
    background-image: url("../assets/images/Newspaper-Background.jpg");
    background-size: contain;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: center;
    color: black;
}

.main-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: grey;
    color:white;
}
.notice{
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: dodgerblue;
    width: 95%;
    display:flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.options{
    background-color: dodgerblue;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scrape{
    text-decoration: none;
    margin-top: 20px;
}
.saved{
    text-decoration: none;
    margin-top: 10px;
}

.news{
    background-color: dodgerblue;
    margin-top: 15px;
    margin-bottom: 15px;
}
.dbheader {
    text-align: center;
}
.dbSummary{
    text-align: center;
}
.dbUrl{
    text-align: center;
}
.dbBtn{
    padding: 10px;
    color: green;
}