* {
    margin: 0;
    padding: 0;
}
header {
    height: 10vh;
    background-color: dodgerblue;
}
.container {
    display: flex;
    justify-content: stretch;
    padding: 20px;
}
.header-links {
    display: flex;
    justify-content: stretch;
    margin: 10px;
}
#home {
    margin-right: 30px;
    margin-left: 30px;
    color: whitesmoke;
    text-decoration: none;
}
#home:hover{
    color:greenyellow;
}
#saved{
    margin-right: 30px;
    color: whitesmoke;
    text-decoration: none;
}
#saved:hover{
    color:greenyellow;
}
#scrapeBtn{
    margin-right: 30px;
    padding: 5px;
    background-color: red;
    color: white;
}
#scrapeBtn:hover{
    background-color: greenyellow;
    color: black;
}
#clearBtn{
    padding: 5px;
    background-color: red;
    color: white;
}
#clearBtn:hover{
    background-color: greenyellow;
    color: black;
}

main{
    background-image: url("../assets/images/Newspaper-Background.jpg");
    background-size: contain;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: center;
    color: white;
}
.savedArticles{
    display: flex;
    background-color: dodgerblue;
    border: 1px solid black;
    height: 100vh;
}

.news{
    display: flex;
    margin-bottom: 15px;
    border: 1px solid black;
    height: 150px;
    flex-direction: column;
    margin-left: 15px;
}
.dbheader{
    font-size: 16px;
}
.commentBox{
    display:flex;
    width: 80vw;
    height: 25px;
}